body {
  background-color: #f0f2f5;
  font-family: "Nunito Sans", sans-serif;
  color: #EDEFF3;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif; /* Yeni font */
  font-weight: 600; /* Daha belirgin olması için */
  color: #EDEFF3;
}
h1 {
  font-weight: 700; /* En kalın */
}

h2 {
  font-weight: 600;
}

h3, h4, h5, h6 {
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3; /* Satır aralığını artır */
  letter-spacing: 0.5px; /* Harfler biraz daha belirgin olsun */
}


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  font-family: "Nunito Sans", serif;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.custom-video::before {
  content: "";
  background: url('/play.png') center center no-repeat; 
  background-size: 50px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  pointer-events: none; 
  z-index: 10;
}

.play-icon-overlay {
  content: "";
  background: url('/play.png') center center no-repeat;
  background-size: 50px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  pointer-events: none;
  z-index: 10;
}