body {
  background-color: #f0f2f5;
  font-family: 'Poppins', sans-serif;
  color: #EDEFF3; /* Metin rengini beyaz yapmak isterseniz */
  font-family: "Poppins", sans-serif; /* Bütün projede Jacquard 24 yazı tipi */
  font-weight: 100;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif; /* Başlıklar için Jacquard 24 yazı tipi */
  font-weight: 100;
  color: #EDEFF3; /* Metin rengini beyaz yapmak isterseniz */

}
h1 {
  font-family: "Poppins", sans-serif; /* Başlıklar için Poppins yazı tipi */
  font-weight: 700; /* Veya 700 */
  color: #EDEFF3; /* Metin rengini beyaz yapmak */
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
